/*header{
    height:75px;
}*/

@import url(https://fonts.googleapis.com/css?family=Montserrat);
body {
   font-family: 'Montserrat', sans-serif;
   
}
.dropdown div{
   
    min-width:2em;
}

.navbar .container-fluid{
    background-color: rgba(33,37,41);
}
.dropdown-menu.show{
    display: inline-block;
}